@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --modus-themes-color-black: #000000;
  --modus-themes-color-black-alt: #595959;
  --modus-themes-color-red: #a60000;
  --modus-themes-color-red-alt: #972500;
  --modus-themes-color-green: #006800;
  --modus-themes-color-green-alt: #316500;
  --modus-themes-color-yellow: #6f5500;
  --modus-themes-color-yellow-alt: #884900;
  --modus-themes-color-blue: #0031a9;
  --modus-themes-color-blue-alt: #354fcf;
  --modus-themes-color-magenta: #8f0075;
  --modus-themes-color-magenta-alt: #531ab6;
  --modus-themes-color-cyan: #005e8b;
  --modus-themes-color-cyan-alt: #005f5f;
  --modus-themes-color-white-alt: #f0f0f0;
  --modus-themes-color-white: #ffffff;
  --modus-themes-color-green-bg: #e9f6df;
  --modus-themes-color-yellow-bg: #f3eacf;
  --modus-themes-color-blue-bg: #e9eaff;
  --modus-themes-color-magenta-bg: #f3e3f1;
  --modus-themes-color-cyan-bg: #daeff7;
  --modus-themes-color-calm: #61284f;
  --modus-themes-color-cold: #093060;
  --modus-themes-color-mild: #184034;
  --modus-themes-color-warm: #5d3026;
  --modus-themes-color-bgdim: #f8f8f8;
  --modus-themes-color-brandbg: #ebebeb;
  --modus-themes-color-brandfg: #424242;
  --modus-themes-color-brandlink: #002f40;
  --modus-themes-color-basebg: var(--modus-themes-color-white);
  --modus-themes-color-basebgalt: var(--modus-themes-color-white-alt);
  --modus-themes-color-basefg: var(--modus-themes-color-black);
  --modus-themes-color-basefgalt: var(--modus-themes-color-black-alt);
  --modus-themes-color-baselinkfg: var(--modus-themes-color-blue);
  --modus-themes-color-baselinkfgalt: var(--modus-themes-color-cyan);
  --modus-themes-color-baselinkfghover: var(--modus-themes-color-blue-alt);
  --modus-themes-color-baselinkfgalthover: var(--modus-themes-color-cyan-alt);
  --modus-themes-color-inlinecodefg: var(--modus-themes-color-magenta);
  --modus-themes-color-inlinecodefgalt: var(--modus-themes-color-cyan);
  --modus-themes-color-codeblockbg: var(--modus-themes-color-bgdim);
  --modus-themes-color-codeblockfg: var(--modus-themes-color-basefg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --modus-themes-color-black: #000000;
    --modus-themes-color-black-alt: #1e1e1e;
    --modus-themes-color-red: #ff5f59;
    --modus-themes-color-red-alt: #ff6b55;
    --modus-themes-color-green: #44bc44;
    --modus-themes-color-green-alt: #70b900;
    --modus-themes-color-yellow: #d0bc00;
    --modus-themes-color-yellow-alt: #fec43f;
    --modus-themes-color-blue: #2fafff;
    --modus-themes-color-blue-alt: #79a8ff;
    --modus-themes-color-magenta: #f78fe7;
    --modus-themes-color-magenta-alt: #b6a0ff;
    --modus-themes-color-cyan: #00d3d0;
    --modus-themes-color-cyan-alt: #6ae4b9;
    --modus-themes-color-white-alt: #989898;
    --modus-themes-color-white: #ffffff;
    --modus-themes-color-green-bg: #172a12;
    --modus-themes-color-yellow-bg: #2f270f;
    --modus-themes-color-blue-bg: #1f2a43;
    --modus-themes-color-magenta-bg: #291230;
    --modus-themes-color-cyan-bg: #19323f;
    --modus-themes-color-calm: #fbd6f4;
    --modus-themes-color-cold: #c6eaff;
    --modus-themes-color-mild: #bfebe0;
    --modus-themes-color-warm: #f8dec0;
    --modus-themes-color-bgdim: #110b11;
    --modus-themes-color-brandbg: #121212;
    --modus-themes-color-brandfg: #b2a2a2;
    --modus-themes-color-brandlink: #c8d4df;
    --modus-themes-color-basebg: var(--modus-themes-color-black);
    --modus-themes-color-basebgalt: var(--modus-themes-color-black-alt);
    --modus-themes-color-basefg: var(--modus-themes-color-white);
    --modus-themes-color-basefgalt: var(--modus-themes-color-white-alt);
  }
}
html {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background-color: var(--modus-themes-color-basebg);
  color: var(--modus-themes-color-basefg);
  font-family: "Public Sans", sans-serif;
  line-height: 1.44;
  margin: 0;
  word-wrap: break-word;
}

.infobar {
  background: var(--modus-themes-color-brandbg);
  color: var(--modus-themes-color-brandfg);
  font-family: "IBM Plex Mono", monospace;
}
.infobar a {
  color: var(--modus-themes-color-brandlink);
  text-decoration: none;
}
.infobar a:hover, .infobar a:focus {
  background: var(--modus-themes-color-brandlink);
  color: var(--modus-themes-color-brandbg);
}
@media screen and (min-width: 75em) {
  .infobar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
  }
}

.infobar-inner {
  margin: 0 auto;
  padding: 1rem;
}
@media screen and (min-width: 75em) {
  .infobar-inner {
    position: absolute;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
  }
}

.infobar-heading {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.infobar-nav {
  padding: 1rem 0;
  padding-bottom: 0;
}
.infobar-nav ul {
  display: inline;
  list-style-type: none;
  margin: 0.5rem 0 0;
  padding: 0;
}
.infobar-nav ul li {
  display: inline-block;
  line-height: 2rem;
  margin-right: 0.5rem;
}
.infobar-nav ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
@media screen and (min-width: 75em) {
  .infobar-nav ul li {
    display: block;
    line-height: 1.44rem;
  }
  .infobar-nav ul li:last-child:before {
    content: "└── "; /* Last item in the branch */
  }
  .infobar-nav ul li:not(:last-child):before {
    content: "├── "; /* Connecting lines for middle items */
  }
}
@media screen and (min-width: 75em) {
  .infobar-nav ul {
    display: block;
    margin: 0;
  }
}
@media screen and (min-width: 75em) {
  .infobar-nav {
    padding: 0;
  }
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 1.44rem auto;
}
@media screen and (min-width: 44.375em) {
  .container {
    max-width: 42rem;
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: 46rem;
    position: relative;
    margin-left: calc(20% + 3.6rem);
  }
}
@media screen and (min-width: 90em) {
  .container {
    max-width: 62rem;
  }
}

.content {
  padding: 1rem;
}

p {
  margin: 0 0 1.44rem;
  padding: 0;
  max-width: 46rem;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Public Sans", sans-serif;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.073rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.728rem;
  font-weight: 700;
  color: var(--modus-themes-color-warm);
}

h3,
.h3 {
  font-size: 1.44rem;
  font-weight: 700;
  color: var(--modus-themes-color-cold);
}

h4,
.h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--modus-themes-color-mild);
}

h5,
.h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--modus-themes-color-calm);
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--modus-themes-color-basefgalt);
}

a {
  color: var(--modus-themes-color-baselinkfg);
  text-decoration: underline;
}
a:hover, a:focus {
  background: var(--modus-themes-color-baselinkfghover);
  color: var(--modus-themes-color-basebg);
  outline: none;
  text-decoration: none;
}
a:visited {
  color: var(--modus-themes-color-baselinkfgalt);
}
a:visited:hover, a:visited:focus {
  background: var(--modus-themes-color-baselinkfgalthover);
  color: var(--modus-themes-color-basebg);
}

pre,
code,
samp {
  font-family: "IBM Plex Mono", monospace;
}

pre {
  background: var(--modus-themes-color-codeblockbg);
  font-size: 0.889rem;
  margin: 1.44rem 0;
  padding: 1rem;
  padding-left: 1.44rem;
  white-space: pre-wrap;
  overflow-x: auto;
  word-break: normal;
  word-wrap: inherit;
  border-top: 5px solid var(--modus-themes-color-basebgalt);
  border-bottom: 5px solid var(--modus-themes-color-basebgalt);
}

blockquote {
  font-family: "Charter", serif;
  color: var(--modus-themes-color-brandfg);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1.44rem 0;
  max-width: 46rem;
  border-left: 10px solid var(--modus-themes-color-brandfg);
}
blockquote footer {
  font-style: italic;
  font-size: 0.889rem;
}
blockquote footer::before {
  content: "~ ";
}

/*# sourceMappingURL=style.css.map */
