/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('./fonts/charter_regular.woff2') format('woff2');
}
    
@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('./fonts/charter_italic.woff2') format('woff2');
}
    
@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('./fonts/charter_bold.woff2') format('woff2');
}
    
@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('./fonts/charter_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: cooper;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('./fonts/CooperHewitt-Medium.woff') format('woff2');
}
    
@font-face {
    font-family: cooper;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('./fonts/CooperHewitt-MediumItalic.woff') format('woff2');
}
    
@font-face {
    font-family: cooper;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('./fonts/CooperHewitt-Bold.woff') format('woff2');
}
    
@font-face {
    font-family: cooper;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('./fonts/CooperHewitt-BoldItalic.woff') format('woff2');
}

@font-face {
    font-family: "heavy-serif";
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('./fonts/charter_bold.woff2') format('woff2');
}

@font-face {
    font-family: "h3-sans";
    src: url("./fonts/CooperHewitt-Light.woff");
    font-weight: 300;
    font-size: 30px;
}

@font-face {
    font-family: "h2-sans";
    src: url("./fonts/CooperHewitt-Light.woff");
    font-weight: 300;
    font-size: 30px;
}

@font-face {
    font-family: "body-mono";
    src: url("./fonts/SourceCodePro.ttf");
    font-weight: 300;
    font-size: 10px;
}

/*
@font-face {
    font-family: "heavy-serif";
    src: url("./fonts/SourceSerif4.ttf");
    font-weight: 400;
    font-size: 22px;
}*/

body {
    margin: 0;
    background-color: #D8DEE9;
    color: #2E3440
}

main a:link {
    color: #81A1C1;
}

main a:visited {
    color: #81A1C1;
}

main a:hover {
    color: #5E81AC;
}

h3 {
    font-family: "h3-sans", sans-serif;
    /*margin: 10px;*/
    margin-left: 0;
}

h2 {
    font-family: "h2-sans", sans-serif;
    /*margin: 10px;*/
    margin-left: 0;
}

ul {
    margin: 10px;
}

ul li::marker {
    content: '» '
}

ol {
    margin: 10px;
}

.wrapper {
    display: flex;
    font-family: "charter", serif;
    font-weight: 300;
    font-size: 22px
}

* {
    box-sizing: border-box;
}
  
nav {
    height: 100vh;
    box-sizing: border-box;
    padding: 1.1em 1em 1em 2em;
    background-color: #2e3440;
}

nav h3 {
    color: #eceff4;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding-left: 20px;
}

nav a:link {
    color: #eceff4;
}

nav a:visited {
    color: #eceff4;
}

nav a:hover {
    color: #4c566a;
}

main {
    height: 100vh;
    overflow: scroll;
    padding: 1.1em 2em 2em 2em;
    width: 50%;
}

blockquote {
    border-left: 5px solid #2e3440; /* Add a light gray border to the left */
    padding: 10px;
    font-style: italic;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

dt {
    color: #BF616A;
    font-family: "heavy-serif", serif;
}

dd::marker {
    content: '» '
}

dd {
    display: list-item;
    list-style-type: disc;
}

details {
    background-color: #8FBCBB;
    padding: 10px;
    border-radius: 3px;
}

details a:link {
    color: #5E81AC;
}

details a:visited {
    color: #5E81AC;
}

details a:hover {
    color: #81A1C1;
}

hr {
    border: 1px solid #2e3440;
    margin: .5rem 0
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    font-family: "heavy-serif", serif;
}

div code {
    background-color: #2E3440;
    color: #D8DEE9;
    font-family: "body-mono", monospace;
    padding: 0 .125rem;
    border-radius: 3px;
}

mark {
    padding: 0 .25em;
    border-radius: 3px;
    background-color: #D08770;
}