@import url("https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css");
@import "gruvbox";

$font-size-base: 18px;
$line-height-base: 1.428571429;
$line-height-computed: floor(($font-size-base * $line-height-base));
$body-margin: 8px;
$column-width: 720px;
$mobile-size: $column-width;
$leftwidth: 310;
$title-font: "Nanum Gothic Coding", sans-serif;
$mono-font: "IBM Plex Mono", monospace;
$base-font: "Charter", sans-serif;

//- COLORS ---------------------------------------------------------------------
$main-dark: $gb-dm-bg0;
$main-light: $gb-dm-fg0;
$hlht-dark: $gb-dm-dark-orange;
$hlht-light: $gb-dm-light-orange;
$gray-dark: $gb-dm-dark-gray;
$gray-light: $gb-dm-light-gray;

//- WEBPAGE BODY ---------------------------------------------------------------
body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: $body-margin;
    font-family: $base-font;

    background-color: $main-light;
    color: $main-dark;

    @media (prefers-color-scheme: dark) {
        background-color: $main-dark;
        color: $main-light;
    }
}

.container {
    // Narrow, centered column.
    max-width: $column-width;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @media print {
        body,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        li,
        td,
        th,
        dl,
        dd,
        dt,
        header,
        footer,
        address,
        nav {
            color: black !important;
        }

        body {
            background: white !important;
        }
    }
}

p {
    margin: 0 0 calc($line-height-computed / 2);
}

a {
    color: $hlht-light;
    @media (prefers-color-scheme: dark) {
        color: $hlht-dark;
    }
}

a:hover {
    color: $hlht-dark;
    @media (prefers-color-scheme: dark) {
        color: $hlht-light;
    }
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    border-left: 5px solid $main-dark;
    padding-left: 0.5rem;
    font-style: italic;
    @media (prefers-color-scheme: dark) {
        border-color: $main-light;
    }
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
}

pre,
code {
    font-family: $mono-font;
    font-size: 80%;
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $title-font;
        color: $gray-light;
        margin-top: $line-height-computed;
        margin-bottom: calc($line-height-computed / 2);
        @media (prefers-color-scheme: dark) {
            color: $gray-dark;
        }
    }

    h1 {
        border-bottom: 1px solid $gray-light;
        padding-bottom: 3px;
        @media (prefers-color-scheme: dark) {
            border-color: $gray-dark;
        }
    }
}

$font-size-h1: floor(($font-size-base * 1.5));
h1 {
    font-size: $font-size-h1;
}

dl {
    margin: 0 0 calc($line-height-computed / 2);
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
    margin-right: 0;
    border-left: 1px dashed $main-dark;
    padding-left: 0.5rem;
    @media (prefers-color-scheme: dark) {
        border-color: $main-light;
    }
}

aside {
    width: 30%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    border-left: 3px solid $gray-light;
    font-style: italic;
    color: $gray-light;
    @media (prefers-color-scheme: dark) {
        border-color: $gray-dark;
        color: $gray-dark;
    }
}

aside > p {
    margin: 0.5rem;
}

//- WEBPAGE HEADER -------------------------------------------------------------

header {
    margin-top: 0.5rem;

    // Mobile: stacked.
    nav {
        margin-top: 0.75rem;
    }

    // Desktop: side by side.
    @media (min-width: $mobile-size) {
        display: flex;
        #name {
            width: $leftwidth;
        }
        nav {
            //width: $column-width - $leftwidth;
            flex-grow: 1;
            margin-top: 0.5rem;
        }
    }
}

header {
    color: $hlht-light;
    font-family: $title-font;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }

    h1 {
        margin: 0;
        font-size: 35px;
    }
    address {
        margin: 0;
        p {
            margin: 0;
        }
    }
    @media (prefers-color-scheme: dark) {
        color: $hlht-dark;
    }
}
#name {
    white-space: nowrap;
}
nav {
    // Negate first/last link padding.
    margin: 0 -3px;
    a {
        display: inline-block;
        margin: 0;
        padding: 0 3px;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    &.cv {
        a {
            display: inline-block;
            margin: 0;
            padding: 0 3px;
            text-decoration: underline;
        }

        a:hover {
            color: $hlht-dark;
            text-decoration: underline;
            @media (prefers-color-scheme: dark) {
                color: $hlht-light;
            }
        }
    }

    a.active {
        border-color: $hlht-light;
        @media (prefers-color-scheme: dark) {
            border-color: $hlht-dark;
        }
    }

    a.active:hover {
        border-color: $hlht-dark;
        @media (prefers-color-scheme: dark) {
            border-color: $hlht-light;
        }
    }

    // Looser layout on desktop.
    @media (min-width: $mobile-size) {
        text-align: right;
        a {
            padding: 2px 6px;
        }
    }
}

//- WEBPAGE FOOTER -------------------------------------------------------------
footer {
    margin-top: auto;
    color: $gray-light;
    font-family: $title-font;
    @media (prefers-color-scheme: dark) {
        border-color: $gray-dark;
    }
}

footer hr {
    border: none;
    border-top: 3px double $main-dark;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    @media (prefers-color-scheme: dark) {
        border-color: $main-light;
    }
}

//- HOMEPAGE SPECIFIC ----------------------------------------------------------

.intro {
    margin: 1em 0;
}

//- CODE HIGHLIGHTING ----------------------------------------------------------
pre {
    line-height: 125%;
    margin: 0;
}
td.linenos pre {
    color: #000000;
    background-color: #f0f0f0;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos {
    color: #000000;
    background-color: #f0f0f0;
    padding-left: 5px;
    padding-right: 5px;
}
td.linenos pre.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}
.highlight .hll {
    background-color: #ffffcc;
}
.highlight {
    background: $main-dark;
    color: $main-light;
    padding: 0.5em 1em;
    @media (prefers-color-scheme: dark) {
        background: $main-light;
        color: $main-dark;
    }
}
.highlight .c {
    color: #888888;
    font-style: italic;
} /* Comment */
.highlight .err {
    border: 1px solid #ff0000;
} /* Error */
.highlight .k {
    font-weight: bold;
    text-decoration: underline;
} /* Keyword */
.highlight .ch {
    color: $gray-light;
    font-style: italic;
} /* Comment.Hashbang */
.highlight .cm {
    color: $gray-light;
    font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
    color: $gray-light;
    font-weight: bold;
} /* Comment.Preproc */
.highlight .cpf {
    color: $gray-light;
    font-style: italic;
} /* Comment.PreprocFile */
.highlight .c1 {
    color: $gray-light;
    font-style: italic;
} /* Comment.Single */
.highlight .cs {
    color: $gray-light;
    font-weight: bold;
} /* Comment.Special */
.highlight .kc {
    font-weight: bold;
    text-decoration: underline;
} /* Keyword.Constant */
.highlight .kd {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
} /* Keyword.Declaration */
.highlight .kn {
    font-weight: bold;
    text-decoration: underline;
} /* Keyword.Namespace */
.highlight .kp {
    font-weight: bold;
    text-decoration: underline;
} /* Keyword.Pseudo */
.highlight .kr {
    font-weight: bold;
    text-decoration: underline;
} /* Keyword.Reserved */
.highlight .kt {
    font-weight: bold;
    text-decoration: underline;
} /* Keyword.Type */
.highlight .s {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String */
.highlight .nb {
    font-weight: bold;
    font-style: italic;
} /* Name.Builtin */
.highlight .nc {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Class */
.highlight .no {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Constant */
.highlight .nf {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Function */
.highlight .nn {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Namespace */
.highlight .nv {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Variable */
.highlight .ow {
    font-weight: bold;
} /* Operator.Word */
.highlight .sa {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Affix */
.highlight .sb {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Backtick */
.highlight .sc {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Char */
.highlight .dl {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Delimiter */
.highlight .sd {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Double */
.highlight .se {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Escape */
.highlight .sh {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Heredoc */
.highlight .si {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Interpol */
.highlight .sx {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Other */
.highlight .sr {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Regex */
.highlight .s1 {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Single */
.highlight .ss {
    color: $gray-dark;
    font-style: italic;
} /* Literal.String.Symbol */
.highlight .bp {
    font-weight: bold;
    font-style: italic;
} /* Name.Builtin.Pseudo */
.highlight .fm {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Function.Magic */
.highlight .vc {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Variable.Class */
.highlight .vg {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Variable.Global */
.highlight .vi {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Variable.Instance */
.highlight .vm {
    color: $gray-dark;
    font-weight: bold;
    font-style: italic;
} /* Name.Variable.Magic */
