@import url("/fonts.css");

:root {
    background-color: #151519;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96'%3E%3Cpath d='M48 0 96 48 48 96 0 48Z' fill='none' stroke='%234c566a' stroke-opacity='.4'/%3E%3Cpath d='M0 0 96 96M96 0 0 96' stroke='%233b4252' stroke-opacity='.22'/%3E%3C/svg%3E");
    --heading-fonts:
        "Cooper Hewitt", "Anek Kannada", "Anek Devanagari", sans-serif;
    --body-fonts: "CharisW", "Anek Kannada", "Anek Devanagari", serif;
}

:target {
    background: whitesmoke;
}

body {
    box-sizing: border-box;
    background: #ffffff;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    hyphens: auto;
    min-height: 100dvh;
    font-family: var(--body-fonts);
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding-right: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-fonts);
    font-weight: normal;
    /* line-height: 1.25; */
    text-align: left;
    /* margin-inline: 0; */
}

h1:has(+ .subtitle) {
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 1em;
}

.me {
    float: left;
    margin-right: 20px;
}

blockquote {
    margin-inline: 0;
}

pre,
blockquote {
    border-left: 3px groove;
    padding-left: 1rem;
}

pre {
    text-align: left;
    overflow-x: auto;
}

dt {
    font-weight: bold;
}

aside {
    float: right;
    width: 30%;
    margin-left: 20px;
    font-size: 0.9em;
    background-color: #eee;
    padding-left: 10px;
    padding-right: 10px;
}

time {
    font-family: monospace;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    background-color: #fbec5d;
    margin-block: 0 1rem;
}

.marquee > :first-child {
    display: inline-block;
    margin-block: 1em;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}

.alert {
    background-color: #fbec5d;
    display: block;
    overflow: hidden;
    padding-inline: 0.75rem;
    margin-block: 1rem;
}

main ul,
main ol {
    padding-inline-start: 1.5rem;
}

a:not(.self)::after {
    display: inline-block;
    color: white;
    font-size: x-small;
    margin-left: 4px;
    padding: 1px;
    font-family: system-ui;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    vertical-align: super;
}

a[href^="https://www.youtube.com/"]::after,
a[href^="https://youtu.be/"]::after {
    background: red;
    content: "YT";
}

a[href^="https://github.com/"]::after {
    background: black;
    content: "GH";
}

a[href^="https://bsky.app/"]::after {
    background: cyan;
    content: "BS";
}

a[href^="https://mastodon.social/"]::after {
    background: purple;
    content: "MST";
}

a[href^="https://en.wikipedia.org/"]::after,
a[href^="https://de.wikipedia.org/"]::after {
    background: gray;
    content: "WIKI";
}

a[href$=".pdf"]::after {
    background: navy;
    content: "PDF";
}

a[href^="https://arxiv.org/"]::after {
    background: maroon;
    content: "AR";
}

a[href^="https://www.linkedin.com/"]::after {
    background: blue;
    content: "LI";
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media print {
    nav,
    hr:has(+ footer),
    footer {
        display: none;
    }

    .marquee {
        display: block;
        overflow: hidden;
        padding-inline: 0.75rem;
        margin-block: 1rem;
        white-space: normal;
    }

    .marquee > :first-child {
        display: block;
        margin-block: 1em;
        padding-left: 0;
        animation: none;
        transform: none;
        white-space: normal;
    }
}
