<%!
import datetime
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/favicon.ico">
  <title>Bhargav Kulkarni</title>
</head>
<body>
  <div class="infobar">
    <div class="infobar-inner">
      <div class="infobar-heading" id="cycle-text">
        भार्गव कुल्कर्ण
      </div>
      <div class="infobar-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/research.html">Research</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="https://raw.githubusercontent.com/bhargavkulk/emacs-config/refs/heads/main/init.el">init.el</a></li>
          <li><a href="/cv.html">CV</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
   <main>
     <div class="outer">
       <div class="content">
${self.body()}

       <ul class="blogindex">
% for date, metadata in _blog:
         <li class="blogrow">
           <span class="blogdate">${date.strftime("%b %d, %Y")}</span>
           <a href="${metadata['path']}" class="blogtitle">${metadata['title']}</a>
         </li>
% endfor
       </ul>
       </div>
     </div>
   </main>
   <script>
     const choices = ["भार्गव कुल्कर्णी", "ಭಾರ್ಗವ ಕುಲಕರ್ಣಿ"]
     const elem = document.getElementById("cycle-text")
     elem.textContent = choices[Math.floor(Math.random() * choices.length)];
   </script>
</body>
</html>
