<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Bhargav Kulkarni</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/style.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <div id="name">
                    <h1>
                        <a href=".">Bhargav Kulkarni</a>
                    </h1>
                    <address>
                        PhD Student, Computer Science<br />
                        <a href="http://www.utah.edu/">University of Utah</a>
                    </address>
                </div>
                <nav class="cv">
                    <a href="mailto:bhargavkishork@gmail.com">bhargavkishork@gmail.com</a>
                    <br>
                    <a href="https://github.com/bhargavkulk">bhargavkulk@GitHub</a>
                    <br>
                    <a href="https://bhargavkulk.github.io">bhargavkulk.github.io</a>
                </nav>
            </header>
            <main>
                <div class="intro">
                    ${content}
                </div>
            </main>
        </div>
    </body>
</html>
