<%!
import datetime
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Bhargav Kulkarni</title>
</head>
<body>
  <div class="infobar">
    <div class="infobar-inner">
      <div class="infobar-heading">
        Bhargav Kulkarni
      </div>
      <div class="infobar-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/research.html">Research</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href='/emacs.html'>init.el</a></li>
          <li><a href="/cv.html">CV</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
   <main>
     <div class="container">
       <div class="content">
${self.body()}
         <h1>Recent Blog Posts</h1>
         <ul class="blogindex">
% for date, metadata in _blog[:5]:
           <li class="blogrow">
             <span class="blogdate">${date.strftime("%b %d, %Y")}</span>
             <a href="${metadata['path']}" class="blogtitle">${metadata['title']}</a>
           </li>
% endfor
         </ul>
       </div>
     </div>
   </main>
</body>
</html>
